<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="left_walkie_arm">
    
    <xacro:arg name="robot_name" default="left_walkie_arm" />
    <xacro:arg name="base_link" default="base_link" />
    <xacro:arg name="use_gripper" default="true" />
    
    <xacro:arg name="ros2_control_hardware_type" default="mock_components" /> 
    <xacro:arg name="hardware_config_file" default="$(find arm_description)/config/hardware_layout.yaml" /> 

    <xacro:include filename="$(find arm_description)/urdf/walkie-arm/walkie_arm.urdf.xacro" />
    <xacro:include filename="$(find arm_description)/urdf/walkie-gripper/walkie_gripper.urdf.xacro" />
    <xacro:include filename="$(find arm_description)/urdf/walkie/left_arm_ros2_control.xacro" /> 

    <xacro:walkie_arm base_link="$(arg base_link)" prefix="left" />

    <xacro:if value="$(arg use_gripper)">
      <xacro:walkie_gripper parent="left_link6" prefix="left" />
    </xacro:if>

    <xacro:if value="$(arg use_gripper)">
      <link name="left_gripper_center">
        <visual>
          <geometry> <sphere radius="0.01"/> </geometry>
          <material name="red"> <color rgba="1 0 0 1"/> </material>
        </visual>
        <collision>
          <geometry> <sphere radius="0.01"/> </geometry>
        </collision>
        <inertial>
          <mass value="0.001" />
          <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
        </inertial>
      </link>

      <joint name="left_gripper_center_joint" type="fixed">
        <parent link="left_link7"/>
        <child link="left_gripper_center"/>
        <origin xyz="0.0 0.0 -0.18" rpy="0.0 0.0 0.0"/>
      </joint>
    </xacro:if>

    <gazebo reference="$(arg base_link)">
      <material>Gazebo/Grey</material>
    </gazebo>

    <xacro:left_arm_ros2_control 
        name="LeftWalkieSystem" 
        prefix="left"
        hardware_config_file="$(arg hardware_config_file)"
    />

</robot>